@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@layer base {
    @font-face {
        font-family: 'vienna';
        src: url('/material/vienna-font-regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    .font-vienna {
        font-family: 'vienna', serif;
      }
}